body{
margin: 0 auto;
 text-align:center;
 background-color: #B0C4DE;
}


@media (min-width: 500px) {
.nav {
flex-direction:row;
justify-content: center;

}
}

ul{
padding: 0;
}

#header{
font-family: "Raleway",Helvetica, Arial, sans-serif;
color:#00008B;
text-align: center;
margin:0 auto;
}

h1{
  font-size: 3rem;
}

.nav{
display: flex;
margin:0 auto;
text-align:center;
list-style-type:none;
font-family: "Indie Flower",Helvetica, Arial, sans-serif;
}

.nav a:link, a:visited{
text-align:center;
}


.nav a:hover, a:active{
background-color:#4169E1;
text-align:center;
margin: auto;
}


p{
font-family: "Droid Serif", Georgia, "Times New Roman", serif;
color:#4682B4;
font-weight:bold;
font-style: italic;
}

.item{
display: flex;
flex-direction: column;
color: white;
padding: 10px;
margin: auto;
background: #5D75B3;
}

.footer {
color: black;
font-size: 1rem;
position: fixed;
right: 0;
bottom: 0;
left: 0;
padding:4px;
width: 100%;
text-align: center;
}

img{
  border-style: none;
}
