body{
background-color: white;
}

nav ul {
display: flex;
flex-flow: column;
list-style-type:none;
}


#container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-content: center;
margin: auto;
width: 95%;
}



ul{
padding:0;
list-style-type:none;
}


.intro{
background-color: #48484C;
}
nav a:link, nav a:visited{
display:block;
margin: 6px;
Color:#0F08B3;
background-color: white;
font-weight: bold;
text-align:center;
padding: 4px;
font-family: "Indie Flower",Helvetica, Arial, sans-serif;
font-size: 1.5rem;
}


nav a:hover,nav a:active{
background-color:#4169E1;
}


p{
font-family: "Droid Serif", Georgia, "Times New Roman", serif;
color:black;
font-weight:bold;
}

.intro{
display:flex;
flex-flow: column wrap;
}


.footer {
color: black;
font-size: 1rem;
/*position: fixed;
right: 0;
bottom: 0;
left: 0;*/
padding:4px;
width: 100%;
text-align: center;
}


img{
border-style: none;
display: flex;
}



@media screen (min-width: 400px) {
nav ul{
flex-direction: row;
justify-content: space-between;
}
.intro{
margin-left: 10px;
flex-flow: row nowrap;
}
}

@media screen and (min-width: 800px) {
nav ul{
flex-direction: row;
justify-content: space-between;
}

.intro{
display: flex;
}

@media screen and (min-width: 1000px) {
nav ul{
flex-direction: row;
justify-content: space-between;
}
.item1 {
margin-right: auto;
}

.intro{
display:grid;
grid-template-columns: 400px 1fr 1fr;
grid-gap: 100px;
grid-template-areas:
"h i j";
}
.content{
display:grid;
grid-template-columns: 500px 1fr;
grid-gap:200px;
grid-template-areas:
"m n";
}

article{
display:grid;
grid-template-columns: 100px 1fr;
grid-gap:20px;
grid-template-areas:
"r s";
}

.part1{
grid-area:m;
}
.part2{
grid-area:n;
}

header{
grid-area:r;
}
section{
grid-area:s;
}

.selfimg{
grid-area: h;
}
.contact{
grid-area:i;
}
.study{
grid-area:j;
}

}
}
