
body{
background-color: white;
}

nav ul{
display: none;
padding: 0;
flex-flow: column;
list-style-type:none;
}

.menu-trigger{
font-size: 30px;
color: white;
background-color:#48484C;
text-decoration: none;
}




#container{
background-color: #48484C;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-content: center;
margin-top: 10px;
width: 100%;
}

.categories{
background-color:#93949C;
font-size: 1.5rem;
text-align:center;
color: white;
padding: 5px;
margin-bottom:20px;
}

nav ul a:link, nav ul a:visited{
display:block;
margin: 6px;
Color:#48484C;
background-color: white;
text-align:center;
padding: 4px;
font-family: "Indie Flower",Helvetica, Arial, sans-serif;
font-size: 1rem;
}


nav ul a:hover,nav ul a:active{
background-color:#93949C;
}

p{
font-family: "Droid Serif", Georgia, "Times New Roman", serif;
color:#DADBE7;

}
.dateline{
font-size: 0.8rem;
}
.intro{
margin-top: 10px;
display:flex;
flex-flow: column wrap;
}

.content{
display:flex;
flex-flow: column wrap;
}


.footer {
color: black;
font-size: 1rem;
/*position: fixed;
right: 0;
bottom: 0;
left: 0;*/
padding:4px;
width: 100%;
text-align: center;
}

.headline{
margin-top: 0;
font-size: 1.5rem;
}
.authorbox{
margin-top: 0;
}

.logo{
margin-top: 0;
}

img{
border-style: none;
display: flex;
}



.selfimg, .contentimage,.map {
text-align:center;
margin: 0 auto;
}

@media (min-width: 500px) {
.selfimg, .contentimage {
text-align:center;
margin: 0 auto;
}

.menu-trigger{
display:none;
}
}

@media (min-width: 600px) {
nav ul{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.intro{
display: flex;
}
}


@media (min-width: 1000px) {
nav ul{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.intro{
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap:5px;
grid-template-areas:
"h i j k";
}
.selfimg{
grid-area: h;
}
.contact{
grid-area:i;
}
.study{
grid-area:j;
}

.map{
grid-area: k;
}
.content{
display:grid;
grid-template-columns: 1fr 1fr;
grid-gap:20px;
grid-template-areas:
"m n";
}
.part1{
grid-area:m;
}
.part2{
grid-area:n;
}
.article{
display:grid;
grid-template-columns: 100px 1fr;
grid-gap:20px;
grid-template-areas:
"r s";
}
.authorbox{
grid-area:r;
}
.section{
grid-area:s;
}


}
